/*************************
  Javier Lopez de Juan - UO271447
 *************************/

/*Especificidad: 001*/
a{
	color: #e56db1 ; 
	text-align: center;
	background-color: #000000;
}
/*Especificidad: 011*/
a:hover{
background-color: #e56db1;
color: #000000;
text-decoration: none;
}
/*Especificidad: 001*/
h2 {
  color: #000000;    
  background-color:#e56db1 ; 
  padding:2em;      
  }
/*Especificidad: 001*/
table{
  position:relative;
  margin:auto;
}
/*Especificidad: 001*/
th{
background-color:#000000;  
color: #e56db1;
text-align: center; 
border: 1px solid;
}
/*Especificidad: 001*/
tr{
  background-color: #e56db1;
  color:#000000;
}

/*Especificidad: 001*/
td{
  text-align:left;
  border: 1px solid #000000;
}
/*Especificidad: 001*/
video{
  float:none;
  margin:auto;
}
/*Especificidad: 002*/
nav li{ 
  margin-right: 15px;
  margin-left: 15px;
  color:#be84a3 ;
  background-color: #000000;  
}
/*Especificidad: 002*/
li img{ 
  margin-right: 5px;
  border-radius: 2px;
  color: #e56db1;
  background-color: #000000;
  padding:1px;
  width:4%;
  height:4%;
  }
/*Especificidad: 001*/ 
audio{
  display:block;
}
/*Especificidad: 002*/
footer em{
  color:#be84a3;
  background-color:#000000;  
}
