/*************************
  Javier Lopez de Juan - UO271447
 *************************/
/*Especificidad: 001*/
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: 20px;
      line-height: 2.5;
      color: #000000;
      background-color:#be84a3; 
    }
/*Especificidad: 001*/
h1 {
    color: #e56db1;    
    background-color:#000000 ; 
    text-transform: uppercase;
    padding:2em; 
    text-align: center;     
    }
 /*Especificidad: 001*/
 nav{
  background-color: #000000;
  color: #be84a3;
  padding: 0%;
  text-align: center;
  width:100%;
  border: 1px solid #e56db1 ;
  border-radius: 4px;
}
/*Especificidad: 001*/
main{
    margin-top: 10px;
    background-color: #e56db1;
    color: #000000;
    border-radius: 4px;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
/*Especificidad: 001*/
footer{
    font:200 15px Arial, Helvetica, sans-serif;
    background-color:#000; 
    color: #be84a3;
    text-transform: uppercase;
    padding: 3px 3px;
    text-align: left;   
    border-radius: 4px; 
    width:30%;
  }
/*Especificidad: 001*/
a{
	color: #e56db1 ; 
	text-align: center;
	background-color: #000000;
}

/*Especificidad: 001*/
h2 {
  color: #000000;    
  background-color:#e56db1 ; 
  padding:2em;      
  }
/*Especificidad: 001*/
table{
  position:relative;
  margin:auto;
}
/*Especificidad: 001*/
th{
background-color:#000000;  
color: #e56db1;
text-align: center; 
border: 1px solid;
}
/*Especificidad: 001*/
tr{
  background-color: #e56db1;
  color:#000000;
}

/*Especificidad: 001*/
td{
  text-align:left;
  border: 1px solid #000000;
}
/*Especificidad: 001*/
video{
  float:none;
  margin:auto;
}
/*Especificidad: 001*/ 
audio{
  display:block;
}
/*Especificidad: 002*/
main video{
    border: 1px solid;
    border-radius: 2px;
    color: #000000;
    background-color: #e56db1;
    padding:1px;
    width:95%;
    height:95%;  
    margin-right: 5px;
  }  
/*Especificidad: 002*/ 
main p{
	 
    color: #000;
    background-color: #e56db1;
    text-align: left;
}
/*Especificidad: 002*/
main legend{
    color: #000;
    background-color: #e56db1;
    text-align: left;
    
}
/*Especificidad: 002*/
section img{
    border-radius: 2px;
    color: #e56db1;
    background-color: #000 ;
    padding:1px;
    width:95%;
    height:95%;  
  }
/*Especificidad: 002*/
footer em{
    color:#be84a3;
    background-color:#000;  
  }

/*Especificidad: 002*/
nav li{ 
  margin-right: 15px;
  margin-left: 15px;
  color:#be84a3 ;
  background-color: #000000;  
}
/*Especificidad: 002*/
li img{ 
  margin-right: 5px;
  border-radius: 2px;
  color: #e56db1;
  background-color: #000000;
  padding:1px;
  width:4%;
  height:4%;
  }
/*Especificidad: 011*/
a:hover{
background-color: #e56db1;
color: #000000;
text-decoration: none;
}
/* Especifidad 012 */
section img[src="multimedia/yehudakatz.png"]{ 	
    border-radius: 2px;
    color: #e56db1;
    background-color: #000 ;
    padding:1px;
    width:95%;
    height:95%;  
}
