/* Especifidad 001 */
table{
  position:relative;
  margin:auto;

}
/* Especifidad 001 */
main>video{
  float:none;
  display:block;
  margin:auto;
}
/* Especifidad 001 */
section{
	display: grid;
	grid-template-areas: 'a a a a a a a a a'
						 'b b b b b b b b b'
                         'c c c d h e f f f';                         
}

/* Especifidad 001 */
h2{
	grid-area: a;
}
/* Especifidad 001 */
p{ 	
    grid-area: b;
}
/* Especifidad 001 */
img{ 	
    grid-area: d;
}
/* Especifidad 011 */
img[src="multimedia/yehudakatz.png"]{ 	
    grid-area: e;
}
/* Especifidad 002*/
nav li{ 
  display:inline-block;
}
/* Especifidad 002 */
li img{ 
  float:none;
  }