/* Hoja de estilo para dar posiciones de manera correcta a cada elemento de nuestra web*/
/* Especifidad 001 */
main{
	display:grid;
	grid-template-areas:'mainarriba mainarriba mainarriba'
						'izq espacio espacioderechamain'
						'medio medio medio'
						'f f f'
						's s s';
}
/* Especifidad 001 */
section{
	grid-area:s;
	display: grid;
	grid-template-areas: 'arriba arriba arriba arriba arriba arriba arriba arriba arriba'
						 'despues despues despues despues despues despues despues despues despues'
                         'espacioiz espacioiz espacioiz imagen1 espaciocentro imagen2 espaciod espaciod espaciod';                         
}
/* Especifidad 001 */
video{
	grid-area: f;
	justify-self:center;
}
/*Especificidad: 001*/ 
audio{
  grid-area: izq;
}
/* Especifidad 001 */
h2{
	grid-area: arriba;
}
/* Especifidad 001 */
p{ 	
    grid-area: medio;
}
/* Especifidad 001 */
table{
	grid-area:espacio;
 }
/* Especifidad 001 */
fieldset{
	grid-column:1/span3;
 }
/* Especifidad 012 */
main p:first-of-type{
	grid-area: mainarriba;
}
/* Especifidad 012 */
section p:first-of-type{
	grid-area: despues;
}
/* Especifidad 011 */
img:first-of-type{
    grid-area: imagen1;
	justify-self:center;
}
/* Especifidad 011 */
img:last-of-type{ 
	grid-area: imagen2;
	justify-self:center;	   
}
/* Especifidad 011 */
ul:first-of-type{ 	
    grid-area: medio;
}
/* Especifidad 012 */
section ul:first-of-type{ 
    grid-area: espacioiz;
}


