/******** HOJA DE ESTILOS Javier Lopez de Juan ********/
/*Especificidad: 001*/
body{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.25em;
    line-height: 2.5;
    color: #000000;
    background-color:#be84a3;
	display:grid;
	grid-template-areas: 'arriba arriba arriba arriba arriba'
						 'm m m m m'
						 'x x x x x';
}
/*Especificidad: 001*/
h1 {
    color: #e56db1;    
    background-color:#000000 ; 
    text-transform: uppercase;
    padding:2em; 
	width:100%;
	grid-area:arriba;
    }
/* Especifidad 001 */
form{
	grid-area:x;
	justify-self:center;
	display: grid;
	justify-items:center;
	/*el color de letra lo hereda de BODY por eso salta warning 
	en css*/
	background-color:#e56db1;
	width:80%;
	grid-template-areas: 'arriba arriba arriba arriba arriba'
						 'm m m m m'
						 'f f botton f f';
}
/*Especificidad: 001*/
label{
    font-size: 2em; 
  }
/* Especifidad 011 */
p:first-child{
	display:grid;
	grid-template-rows:1fr 1fr 1fr ;
	
}
/*Especificidad: 002*/
nav a{ 
  margin-right: 0.938em;
  margin-left: 0.938em; 
}
/*Especificidad: 001*/
a{
	color: #e56db1 ; 
	background-color: #000000;
}
/*Especificidad: 001*/
 nav{
  background-color: #000000;
  color: #be84a3;
  padding: 0%;
  width:100%;
  border: 0.063em solid #e56db1 ;
  border-radius: 0.25em;
  grid-area:m;
}

/* Especifidad 011 */
input[type=submit] {

    margin-left:0.4em;
	margin-right:0.4em;
    margin-top:1.8em;
    background-color: #000000;
    color: #be84a3;
    text-decoration: none;
    font-size: 1em;
	width:100%;
}
/* Especifidad 011 */
input[type=text] {
    width: 60%;
    height: 1.5em;
    margin-bottom: 0.6em;
    margin-left: 1.2em;
}