/******** HOJA DE ESTILOS Javier Lopez de Juan ********/
/*Especificidad: 001*/
body{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.25em;
    line-height: 2.5;
    color: #000000;
    background-color:#be84a3;
	display:grid;
	grid-template-areas: 'arriba arriba arriba arriba arriba'
						'p p p p p'
						 'x x x x x';
}
textarea{
	width: 70%; 
    height: 60%;
	font-size: 2em;
    margin-bottom:0.625em;
    margin-left:1.25em;
}
/*Especificidad: 001*/
h1{
    color: #e56db1;    
    background-color:#000000 ; 
    text-transform: uppercase;
    padding:2em; 
	grid-area:arriba;	
}
/*Especificidad: 001*/
p{
	grid-area:h;
}
/*Especificidad: 001*/
h2{
	grid-area:s;
}

/* Especifidad 001 */
section{
	grid-area:x;
	justify-self:center;
	display: grid;
	grid-template-areas: 
						's s s s s'
						 'h h h h h'
						 'a a a a a'
						 'b b b b b'
                         'c c c c c'
						 'd d d d d'
						 'e e e e e'
						 'f f f f f'
                         'g g g g g'
						 'i i i i i'
						 ;  
	justify-items:center;
	/* el color lo hereda de BODY por eso salta 
	un warning en css */
	background-color:#e56db1;
	width:fit-content;
}
/* Especifidad 011 */
form:nth-child(3){
	grid-area:a;
	
}
/* Especifidad 011 */
form:nth-child(4){
	grid-area:b;
	
}
/* Especifidad 011 */
form:nth-child(5){
	grid-area:c;
	
}
/* Especifidad 011 */
form:nth-child(6){
	grid-area:d;

	
}
/* Especifidad 011 */
form:nth-child(7){
	grid-area:e;

	
}
/* Especifidad 011 */
form:nth-child(8){
	grid-area:f;

	
}
/* Especifidad 011 */
form:nth-child(9){
	grid-area:g;

	
}
/* Especifidad 011 */
form:last-child{
	grid-area:i;

	
}
	
/* Especifidad 011 */
input[type=button] {
    margin-left:0.1em;
	margin-right:0.1em;
    margin-top:1.8em;
    background-color: #000000;
    color: #be84a3;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    width: 3em;
}
/*Especificidad: 001*/
a{
	grid-area:p;
	color: #e56db1 ; 
	background-color: #000000;
	font-size: 1.25em;
    line-height: 2.5;
	text-transform: uppercase;
}