/******** HOJA DE ESTILOS Javier Lopez de Juan ********/
/*Especificidad: 001*/
body{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.25em;
    line-height: 2.5;
    color: #000000;
    background-color:#be84a3;
}
textarea{
	width: 70%; 
    height: 60%;
	font-size: 2em;
    margin-bottom:0.625em;
    margin-left:1.25em;
}
/*Especificidad: 001*/
h1{
    color: #e56db1;    
    background-color:#000000 ; 
    text-transform: uppercase;
    padding:2em;    
}
/*Especificidad: 001*/
p{
	grid-area:h;
}
/*Especificidad: 001*/
h2{
	grid-area:s;
}

/* Especifidad 001 */
section{
	display: grid;
	grid-template-areas: 's s s s s'
						 'h h h h h'
						 'a a a a a'
						 'b b b b b'
                         'c c c c c'
						 'd d d d d'
						 'e e e e e'
						 'f f f f f'
                         'g g g g g'
						 'i i i i i'
						 ;  
	justify-items:center;
	background-color:#e56db1;
	width:fit-content;
}
/* Especifidad 011 */
form:nth-child(3){
	grid-area:a;
	
}
/* Especifidad 011 */
form:nth-child(4){
	grid-area:b;
	
}
/* Especifidad 011 */
form:nth-child(5){
	grid-area:c;
	
}
/* Especifidad 011 */
form:nth-child(6){
	grid-area:d;

	
}
/* Especifidad 011 */
form:nth-child(7){
	grid-area:e;

	
}
/* Especifidad 011 */
form:nth-child(8){
	grid-area:f;

	
}
/* Especifidad 011 */
form:nth-child(9){
	grid-area:g;

	
}
/* Especifidad 011 */
form:last-child{
	grid-area:i;

	
}
	
/* Especifidad 011 */
input[type=button] {
    margin-left:1.25em;
    margin-top:0.625em;
    background-color: #000000;
    color: #be84a3;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    width: 6.25em;
}