/*Especificidad: 001*/
body {
    font: 400 20px Tahoma, sans-serif;
    line-height: 2;
    color:#000000;
    background-color: #be84a3;
    display:grid;
	grid-template-areas: 'arriba arriba arriba arriba arriba'
						 'x x x x x'
						 's s s s s';
}
/*Especificidad: 001*/
h1 {
    color: #e56db1;    
    background-color:#000000 ; 
    text-transform: uppercase;
    padding:2em; 
	grid-area:arriba;
}
/*Especificidad: 011*/
input[type=button] {
    margin-left:0.1em;
	margin-right:0.1em;
    margin-top:1.8em;
    background-color: #000000;
    color: #be84a3;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
}
/*Especificidad: 001*/
img{
	border-radius: 0.125em;
    background-color: #000 ;
    color:#e56db1;
    padding:0.063em;
    width:95%;
    height:95%;  
}
/*Especificidad: 001*/
main{
   
   width:40em; 
   height:40em;
  }