/* Especifidad 002*/
nav li{ 
  display:inline-block;
}
/* Especifidad 001 */
table{
  position:relative;
	margin:auto;

}
/* Especifidad 002 */
li img{ 
  float:none;
  }
/* Especifidad 001 */
main>video{
  float:none;
  display:block;
  margin:auto;
}
section{
	display: grid;
	grid-template-areas: 'a a a a'
						 'b b b b'
                         'c d e f';                         
}


#head{
	grid-area: a;
}
#arriba{ 	/*Especificidad del selector = (100)*/
    grid-area: b;
}
#imagen1{ 	/*Especificidad del selector = (100)*/
    grid-area: d;
}
#imagen2{
	grid-area: e;
	
}