/*Especificidad: 001*/
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.25em;
    line-height: 2.5;
    color: #000000;
    background-color:#be84a3;
    display:grid;
	grid-template-areas: 'arriba arriba arriba arriba arriba'
						 'x x x x x'
						 's s s s s';
}
/*Especificidad: 001*/
h1 {
    color: #e56db1;    
    background-color:#000000 ; 
    text-transform: uppercase;
    padding:2em; 
	grid-area:arriba;
}
/*Especificidad: 001*/
form{
	justify-self:center;
	grid-template-columns:1fr 1fr 1fr 1fr 1fr;
}
/*Especificidad: 001*/
section{
	grid-area:s;
}