/******** HOJA DE ESTILOS Javier Lopez de Juan ********/
/*Especificidad: 001*/
body{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.25em;
    line-height: 2.5;
    color: #000000;
    background-color:#be84a3;
	display:grid;
	grid-template-areas: 'arriba arriba arriba arriba arriba'
						 'x x x x x';
}
/*Especificidad: 001*/
h1{
    color: #e56db1;    
    background-color:#000000 ; 
    text-transform: uppercase;
    padding:2em;
	grid-area:arriba;    
}
/*Especificidad: 001*/
h2{
	grid-area:s;
}
/*Especificidad: 001*/
p{
	grid-area:h;
}

/* Especificidad 001 */
section{
	grid-area:x;
	justify-self:center;
	display: grid;
	grid-template-areas: 's s s s s'
						 'h h h h h'
						 'a a a a a'
						 'b b b b b'
                         'c c c c c'
						 'd d d d d'
						 'e e e e e'
						 'f f f f f'
                         'g g g g g'
						 'i i i i i'
						 'j j j j j'
						 ;  
	justify-items:center;
	background-color:#e56db1;
	/*el color de letra lo hereda de BODY por eso salta
	warning en css*/
	width:fit-content;
}
/* Especificidad 011 */
form:nth-child(3){
	grid-area:a;
	
}
/* Especificidad 011 */
form:nth-child(4){
	grid-area:b;
	
}
/* Especificidad 011 */
form:nth-child(5){
	grid-area:c;
	
}
/* Especificidad 011 */
form:nth-child(6){
	grid-area:d;

	
}
/* Especificidad 011 */
form:nth-child(7){
	grid-area:e;

	
}
/* Especificidad 011 */
form:nth-child(8){
	grid-area:f;

	
}
/* Especificidad 011 */
form:nth-child(9){
	grid-area:g;

	
}
/* Especificidad 011 */
form:nth-child(10){
	grid-area:i;

	
}
/* Especificidad 011 */
form:last-child{
	grid-area:j;
	
}
/* Especificidad 011 */
input[type=text]{
    width: 80%; 
    height: 1.875em;
	font-size: 2em;
    margin-bottom:0.625em;
    margin-left:1.25em;
}
/* Especifidad 011 */
input[type=button] {
    margin-left:0.1em;
	margin-right:0.1em;
    margin-top:1.8em;
    background-color: #000000;
    color: #be84a3;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    width: 3.3em;
}